/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "sora";
  src: url("/assets/fonts/Sora/Sora-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sora-bold";
  src: url("/assets/fonts/Sora/static/Sora-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair_Display";
  src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "orb";
  src: url("/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf")
    format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Playfair_Display", sans-serif;
  padding-top: 80px;
}
html {
  scroll-behavior: smooth;
}
.navbar-brand {
  font-size: 32px;
  color: rgb(43, 43, 43);
  font-weight: bolder;
  font-family: "Playfair_Display";
}
