<!-- section of sale  -->

<section class="sale-container container">
  <div class="container-fluid">
    <div class="row g-3">
      <!-- Left Column -->
      <div class="col-lg-3 col-md-6">
        <div class="image-box left-image person-1">
          <div class="image-placeholder">
            <img src="/assets/Nav-Images/1.png" alt="Group2" />
          </div>
        </div>
      </div>

      <!-- Center Column -->
      <div class="col-lg-6 col-md-12">
        <!-- Top Image -->
        <div class="image-box top-image person-2">
          <div class="image-placeholder">
            <img src="/assets/Nav-Images/2.svg" alt="Group2" />
          </div>
        </div>

        <!-- Center Content -->
        <div class="center-content">
          <h1 class="ultimate-text">ULTIMATE</h1>
          <h2 class="sale-text">
            <img src="/assets/Nav-Images/sale.png " alt="" />
          </h2>
          <p class="new-collection">NEW COLLECTION</p>
          <button class="shop-btn">SHOP NOW</button>
        </div>

        <!-- Bottom Image -->
        <div class="image-box bottom-image person-4">
          <div class="image-placeholder">
            <img src="/assets/Nav-Images/3.png" alt="" />
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-lg-3 col-md-6">
        <div class="image-box right-image person-5">
          <div class="image-placeholder">
            <img src="/assets/Nav-Images/4.png" alt="Group4" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section of brands -->
<section>
  <div class="container d-flex justify-content-between">
    <div class="chanel">
      <p>CHANEL</p>
    </div>
    <div class="louis">
      <p>CHANEL</p>
    </div>
    <div class="prada">
      <p>CHANEL</p>
    </div>
    <div class="calvin">
      <p>CHANEL</p>
    </div>
  </div>
</section>
