<section>
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div class="img-container">
            <img src="/assets/form/112.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="login-container">
            <h1 class="navbar-brand mb-4">FASCO</h1>
            <h4 class="mb-4">Sign In To FASCO</h4>

            <!-- Google / Email buttons -->
            <div class="social-login">
              <button class="google-btn">
                <img
                  src="https://img.icons8.com/color/16/000000/google-logo.png"
                />
                Sign up with Google
              </button>

              <button class="email-btn">
                <img
                  src="https://img.icons8.com/color/16/000000/gmail-new.png"
                />
                Sign up with Email
              </button>
            </div>

            <div class="divider">— OR —</div>

            <!-- Reactive Form -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <input
                type="email"
                placeholder="Email"
                formControlName="email"
                name="email"
                id="email"
              />

              @if(loginForm.get('email')?.errors &&
              loginForm.get('email')?.touched) {
              <div class="alert error alert-danger">
                @if(loginForm.get('email')?.getError('required')){
                <p>email is required</p>
                }@else if(loginForm.get('email')?.getError('email')){
                <p>Enter Valid Email</p>
                }
              </div>
              }

              <input
                type="password"
                placeholder="Password"
                formControlName="password"
                name="password"
                id="password"
              />
              @if(loginForm.get('password')?.errors &&
              loginForm.get('password')?.touched) {
              <div class="alert error alert-danger">
                @if(loginForm.get('password')?.getError('required')){
                <p>Please Enter Password</p>
                }@else if(loginForm.get('password')?.getError('minLength')){
                <p>Enter Valid Password</p>
                }
              </div>
              }
              <button type="submit" class="signin-btn">Sign In</button>
              <a class="btn register-btn" routerLink="/sign-up">Register Now</a>
            </form>

            <div class="extra-links mb-5">
              <a routerLink="/sign-up" class="nav-link text-dark register"
                >Register Now</a
              >
              <a class="nav-link text-dark forgot">Forgot Password?</a>
            </div>

            <footer>
              <p>FASCO Terms & Conditions</p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
